body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
} /* unvisited link */
a:visited {
  color: black;
} /* visited link */
a:hover {
  color: black;
} /* mouse over link */
a:active {
  color: black;
} /* selected link */

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.add-pp-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-pp-option-details {
  display: flex;
  flex-direction: column;
}

.add-pp-option-inputpair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 42px;
}
